<html>
	<head>
		<title>search</title>
	</head>
	<body>
		<form th:action="@{/searchbyid}" method="post">
			 <label>Enter ID:</label>
			 <input type="number" name="id">
			 <button type="submit">Search</button>
		</form>
		
		<div th:if="${product!=null}">
			<h3>Employee Details</h3>
			
			<p><strong>ID:</strong><span th:text="${employee.id}"></span></p>
			
			<p><strong>Name:</strong><span th:text="${employee.name}"></span></p>
			
			<p><strong>Phone No:</strong><span th:text="${employee.phone no}"></span></p>
			
			<p><strong>Gender:</strong><span th:text="${employee.gender}"></span></p>
			
			<p><strong>Date of Joining:</strong><span th:text="${employee.date of joining}"></span></p>
			
			<p><strong>Department No:</strong><span th:text="${employee.department no}"></span></p>
			
			<p><strong>Salary:</strong><span th:text="${employee.salay}"></span></p>
			
			<p><strong>Daily Allowances:</strong><span th:text="${employee.daily allowancess}"></span></p>
			
			<p><strong>House Rent Allowances:</strong><span th:text="${employee.house rent allowances}"></span></p>
			
			<p><strong>totalSalary:</strong><span th:text="${employee.totalsalary}"></span></p>
			
		</div>
		
		<div th:if="${employee == null}">
			<h3>employee with given id is not available</h3>
		</div>
	</body>
</html>